################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ShortestPath/Debug
/ShortestPath/ShortestPath/Debug
/x64/Debug
/ShortestPath/x64/Debug
.vscode/launch.json
.vscode/c_cpp_properties.json
.vscode/settings.json
ShortestPath/a.out
ShortestPath/build/Debug/outDebug
ShortestPath/build/Debug/ShortestPath.o
